.boxmenu {
  .l-container-responsive(@max-width);

  &__header {
    .l-container-responsive(@device-width-large);
    padding: 0.5em;
  }

  &__body {
    margin-top: 1em;
  }

  &__item-container {
    .l-container-responsive(@device-width-large);
  }

  &__item-container-inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    padding: 1%;

    @media (min-width: @device-width-medium) {
      width: 50%;
    }
  }

  &__item-title {
    margin-top: 0.75em;
    font-size: 1.5em;
  }

  &__item-body {
    margin-top: 1em;
  }

  &__item-duration {
    margin-top: 1em;
  }

  &__item-progress {
    margin-top: 1em;
  }

  &__item-button-container {
    margin-top: 1em;
  }
}
