.boxmenu {
  .l-container-responsive(@max-width);

  &__header {
    .l-container-responsive(@device-width-large);
    padding: 0.5em;
  }

  &__body {
    margin-top: 1em;
  }

  &__item-container {
    .l-container-responsive(@device-width-large);
  }

  &__item-container-inner {
    display: flex;
    flex-wrap: wrap;
  }
}
